:root {
    --headingOne-size: 5rem;

    --headingOneHighlight-color: ;
    --gridColumns: repeat(4, 400px);
    --gridH1-fontsize: 1.3rem;
    --gridH2-fontsize: 1rem;
    --buttonHover-bg: #0f5288;
    --button-border: black;
    --enlarge: scale3d(1.1, 1.1, 1.1);
    --grid-gap: 20px;

}

.TrainingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;

}

.TrainingGrid {
    display: grid;
    grid-template-columns: var(--gridColumns);
    column-gap: var(--grid-gap);
    row-gap: var(--grid-gap);
}

.MainHeading {
    text-align: center;
    font-size: var(--headingOne-size);
    padding: 5rem;

}

.HeadingHighlight {
    color: var(--headingOneHighlight-color);
}

.Training {
    display: flex;
    flex-direction: column;
    transition: all ease-in .2s;
    background-color: rgba(200, 200, 200, 0.043);
}

.Training img {
    border-radius: 20px;
    width: 400px;
    height: 250px;
}

.Training:hover {
    cursor: pointer;
    border-radius: 15px;
    transform: var(--enlarge);
}

.Training h1 {
    font-size: var(--gridH1-fontsize);
    padding: 15px;
}

.Training h2 {
    font-size: var(--gridH2-fontsize);
    padding: 15px;
}



.Skel .imgDiv {
    width: 100%;
    height: 250px;
    background: linear-gradient(120deg,
            #e5e5e5 30%,
            #f0f0f0 38%,
            #f0f0f0 40%,
            #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: Load 2s infinite;
    border-radius: 20px;
}

.Skel .H1Div,
.H2Div {
    width: 99%;
    height: 39px;
    padding: 15px;
    background: linear-gradient(120deg,
            #e5e5e5 30%,
            #f0f0f0 38%,
            #f0f0f0 40%,
            #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: Load 2s infinite;
    margin: 10px auto;
    border-radius: 20px;

}

@keyframes Load {
    100% {
        background-position: -100% 0;
    }
}


.TrainingContainer button {
    cursor: pointer;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 2rem;
    width: fit-content;
    display: flex;
    padding: 0.5em 0.9em;
    gap: 0.4rem;
    font-weight: bold;
    background-color: #0f5288;
    border-radius: 10px;
    transition: all ease-in .2s;
    color: white;
    border: none;
}

.TrainingContainer button:hover {
    background-color: #0071e2;
    color: black;


}

@media screen and (max-width: 2000px) {
    :root {
        --gridColumns: repeat(5, 400px);
        --headingOne-size: 4rem;
    }

    .Training img {
        width: 100%;
        border-radius: 10px;
    }

}

@media screen and (max-width: 1669px) {
    :root {
        --gridColumns: repeat(3, 400px);
        --headingOne-size: 4rem;
    }

    .Training img {
        width: 100%;
        border-radius: 10px;
    }

}

@media screen and (max-width: 1440px) {
    :root {
        --gridColumns: repeat(3, 300px);
        --headingOne-size: 4rem;
    }

    .Training img {
        width: 100%;
        border-radius: 10px;
    }
}


@media screen and (max-width: 960px) {
    :root {
        --gridColumns: repeat(2, 400px);
        --headingOne-size: 3rem;
    }

    .Training img {
        width: 100%;
        border-radius: 10px;
    }

}


@media screen and (max-width: 840px) {
    :root {
        --gridColumns: repeat(1, 400px);
        --headingOne-size: 3rem;
    }

    .Training img {
        width: 100%;
        border-radius: 10px;
    }

}

@media screen and (max-width: 425px) {
    :root {
        --gridColumns: repeat(1, 300px);
        --headingOne-size: 3rem;
    }

    .Training img {
        width: 100%;
        border-radius: 10px;
    }

}