.allAdminGrid {
    padding: 1rem;
}

.admin_Table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.admin_Table img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.admin_Table h1 {
    font-size: 1.3rem;
}

.admin_Table button {
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    transition: color ease .2s;
}

.Edit_Btn:hover {
    color: green;
}

.Delete_Btn:hover {
    color: red;
}

.new {
    font-size: 25px;
    width: fit-content;
    display: flex;
    padding: 0.5em 1.1em;
    gap: 0.4rem;
    font-weight: bold;
    border-radius: 20px;
    text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
    /* background: linear-gradient(15deg, #4D194D, #3E1F47, #312244, #272640, #212F45, #1B3A4B, #144552, #0B525B, #065A60, #006466) no-repeat; */
    background: linear-gradient(15deg, #880088, #aa2068, #cc3f47, #de6f3d, #f09f33, #de6f3d, #cc3f47, #aa2068, #880088) no-repeat;
    background-size: 300%;
    background-position: left center;
    transition: background .3s ease;
    color: #fff;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 16px;
    border: none;
    margin: 50px auto;
}

.new:hover {
    transform: scale(1.01);
    background-size: 320%;
    background-position: right center;
}