.AdminList h1 {
    font-size: 5rem;
    text-align: center;
    text-transform: capitalize;
    margin-top: 90px;
}

.HeadingHighlight {
    color: #0f5288;
}

.allAdminGrid {
    padding: 1rem;

}

.admin_Table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 10px;
}


.admin_Table h1 {
    font-size: 1.3rem;
    text-align: left;
    margin: 0;
    font-weight: 400;
}

.admin_Table_Heading {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 10px;
}


.admin_Table_Heading h1 {
    font-size: 1.8rem;
    text-align: left;
    margin: 0;
}

.admin_Table button {
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    transition: color ease .2s;
}

.Edit_Btn:hover {
    color: green;
}

.Delete_Btn:hover {
    color: red;
}

.new {
    cursor: pointer;
    margin: 0 auto;
    margin-top: 90px;
    font-size: 2rem;
    width: fit-content;
    display: flex;
    padding: 0.6em 1.1em;
    gap: 0.4rem;
    font-weight: bold;
    background-color: #0f5288;
    border-radius: 10px;
    transition: all ease-in .2s;
    color: white;
    border: none;
}

.new:hover {
    background-color: #0071e2;
    color: black;
}

.Skel {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.Training:first-child {
    margin-top: 50px;
}

.Skel .H1Div,
.H2Div {
    width: 90%;
    height: 39px;
    padding: 15px;
    background: linear-gradient(120deg,
            #e5e5e5 30%,
            #f0f0f0 38%,
            #f0f0f0 40%,
            #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: Load 2s infinite;
    margin: 10px auto;
    border-radius: 20px;

}

@keyframes Load {
    100% {
        background-position: -100% 0;
    }
}