.AddCourseCategoryWrapper {
    display: grid;
    place-items: center;

}

.AddCourseCategory {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading h1 {
    font-size: 5rem;
    text-transform: capitalize;
}

.Headinghighlight {
    color: #0f5288;
}

.AddCourseCategory form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.FormWrapper input,
.FormWrapper textarea {
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    width: 1100px;
}

.FormWrapper h1 {
    font-size: 1.5rem;

}


.FormWrapper input:focus,
.FormWrapper textarea:focus {
    background-color: #b9b9b9;
}

.FormWrapper button {
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 2rem;
    width: fit-content;
    display: flex;
    padding: 0.6em 1.1em;
    gap: 0.4rem;
    font-weight: bold;
    background-color: #0f5288;
    border-radius: 10px;
    transition: all ease-in .2s;
    color: white;
    border: none;

}

.FormWrapper button:hover {
    background-color: #0071e2;
    color: black;
}

.Spantwo {
    grid-column: 1 / span 2;
}

/* .successBoard,
.FailedBoard {
    position: fixed;
    top: 1;
    right: 0;
    padding: 1rem;
    background-color: green;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 20px;
    color: white;
}

.successBoard h1,
.FailedBoard h1 {
    font-size: 1rem;
}

.FailedBoard {
    background-color: red;
} */




/* @media screen and (max-width:1024px) {
    :root {
        --Heading-div--padding: 1.5rem;
        --main-Heading1: 4rem;
        --form-input-fontSize: 1.5rem;
        --formLabel-fontSize: 1.5rem;
        --submit-fontSize: 1.5rem;
    }
} */