.message_Wrapper,

.ContactInfo_wrapper {
    display: grid;
    place-items: center;
    padding: 3rem;
}

.message_heading h1,
.Visit_Heading h1,
.FAQ_header h1 {
    font-size: 5rem;
    text-align: center;
}

.HeadingHighlight {
    color: #0f5288;
}

.message_heading h2 {
    opacity: 0.5;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 50px;
}

.FAQ_Wrapper {
    margin-top: 50px;
}

.FAQ_lists {
    font-size: 1.5rem;
    padding: 5rem;
    text-align: center;

}

.Individual_FAQ {
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.Individual_FAQ details {
    font-weight: 700;
}

.Individual_FAQ p {
    margin-left: 80px;
    font-weight: 400;
    text-align: left;
}

summary {
    display: block;
}

summary::after {
    margin-left: 1ch;
    display: inline-block;
    transition: 0.2s;
    content: '\203A';
    font-weight: bolder;



}

details[open] summary::after {
    transform: rotate(90deg);
    font-weight: bolder;
}